h1,
h2,
h4 {
  color: rgb(42, 42, 163);
  font-family: Georgia, "Times New Roman", Times, serif;
}
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  left: 0;
  top: ;
  background-image: linear-gradient(to top left, #0072ff, #00c6ff);
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style-type: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: white;
  transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
  color: white;
}
#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 40%;
  height: 3px;
  background-color: #7865aa;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
#header-logo {
  border: 4px solid rgb(211, 211, 238);
  border-radius: 50%;
  z-index: 100;
}

.logo {
  width: 200px;
}
#header-logo .logo {
  border-radius: 50%;
}

#hero {
  background-image: url(images/3.png);
  height: 90vh;
  width: 60%;
  background-position: top 0% left 90%;
  background-size: cover;
  padding: 10px 0;
  padding-left: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 30px;
}

#hero h1,
h2,
h3,
h4 {
  margin: 0;
  padding-bottom: 15px;
}
#hero h1 {
  color: #0072ff;
}

.button {
  display: inline-block;
  padding: 12px 28px;
  margin: 10px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-image: linear-gradient(to bottom right, #00c6ff, #0072ff);
  border: none;
  border-radius: 40px;
  box-shadow: 0px 4px 0px #0072ff;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 0px #0072ff;
}

.button:active {
  transform: translateY(0px);
  box-shadow: none;
  background-image: linear-gradient(to bottom right, #0072ff, #00c6ff);
}

.button:before,
.button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}

.button:before {
  top: -3px;
  left: -3px;
  border-radius: 40px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
}

.button:after {
  bottom: -3px;
  right: -3px;
  border-radius: 40px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
}
