* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  color: rgb(42, 42, 163);
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 15px;
}
#header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px;
  background-color: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  left: 0;
  top: 0;
  right: 0;
  background-image: linear-gradient(to top left, #0072ff, #00c6ff);
}

#header-logo {
  border: 4px solid rgb(211, 211, 238);
  border-radius: 50%;
  z-index: 100;
}

.logo {
  width: 200px;
}
#header-logo .logo {
  border-radius: 50%;
}

#hero {
  /* background-image: url(images/3.png); */
  /* height: 90vh; */
  width: 100%;
  /* background-position: top 0% left 90%; */
  /* background-size: cover; */
  background: linear-gradient(to bottom right, #00c6ff, #0072ff);
  padding: 10px 0;
  padding-left: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 15px;
}

#hero h1,
#hero h2,
#hero p {
  margin: 0;
  padding-bottom: 15px;
  padding-right: 10px;
}
#hero h1 {
  color: #0072ff;
}

.button {
  display: inline-block;
  padding: 12px 28px;
  margin: 10px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-image: linear-gradient(to bottom right, #00c6ff, #0072ff);
  border: none;
  border-radius: 40px;
  box-shadow: 0px 4px 0px #0072ff;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 0px #0072ff;
}
.button:active {
  transform: translateY(0px);
  box-shadow: none;
  background-image: linear-gradient(to bottom right, #0072ff, #00c6ff);
}
.button:before,
.button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}
.button:before {
  top: -3px;
  left: -3px;
  border-radius: 40px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
}
.button:after {
  bottom: -3px;
  right: -3px;
  border-radius: 40px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
}

.dropdown-btn {
  background-image: linear-gradient(to bottom right, #cce7d0, #00c6ff);
  color: rgb(42, 42, 163);
  font-weight: bold;
  letter-spacing: 1px;
  padding-left: 10px;
  font-size: 15px;
  border-radius: 3px;
  padding: 10px;
}

.dropdown {
  position: fixed;
  top: 0px;
  display: inline-block;
  z-index: 2;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: hsl(246, 25%, 92%);
  max-width: 230px;
  max-height: max-content;
  box-shadow: 0px 18px 16px 20px rgba(0, 0, 0, 0.3);
  z-index: 1;
  scroll-behavior: smooth;
}
/* todo */
.dropdown-content #myInput {
  position: static;
}
.dropdown-content ul {
  margin-left: -25px;
  list-style-type: none;
}

.dropdown-content li {
  display: block;
  margin: 0;
  padding: 0px;
  border-bottom: 1px solid #cce7d0;
}

.dropdown-content a {
  text-decoration: none;
  font-size: 0.6rem;
}

.dropdown-content li:hover {
  transform: translateY(-2px);
  box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.3);
  background: #dbe913;
  transition: 0.1s ease;
}
.dropdown-content h2:hover {
  color: #088178;
}
.dropdown-content h2 {
  padding: -2px;
  font-size: 0.6rem;
  color: #088178;
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: 0.3s;
}

.dropdown .dropdown-btn:hover {
  transition: 0.3s ease-in-out;
}

.dropdown-content a:hover {
  color: #d3e995;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#parent-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 700px;
  /* padding: 20px; */
}
#parent-container h2 {
  font-size: 20px;
}

.section-p {
  width: 100%;
  text-align: center;
}

.section-p .pro-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-content: space-between;
  padding: 10px 0;
}

.section-p .pro {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #cce7d0;
  border-radius: 20px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 5px 0;
  transition: 0.2s ease;
  position: relative;
}

.section-p .pro:hover {
  box-shadow: 20px 20px 30px rgba(236, 77, 77, 0.06);
}

.section-p .pro img {
  max-width: 175px;
  max-height: 175px;
  width: 100%;
  height: auto;
  /* max-width: 100%;
    max-height: 100%; */
  object-fit: cover;
  border-radius: 10px;
}

.section-p .pro .des {
  text-align: start;
  padding: 5px 0;
}

.section-p .pro .des span {
  color: #088178;
  font-size: 12px;
}

.section-p .pro .des h5 {
  padding-top: 7px;
  color: #088178;
  font-size: 12px;
  margin: 0;
}

.section-p .pro .des i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

.section-p .pro .des h4 {
  padding-top: 7px;
  font-size: 12px;
  font-weight: 700;
  color: #088178;
}

.section-p .pro .fa-cart-shopping {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  color: #088178;
  border: 1px solid #cced70;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* ------------------------------------------------------------
----------------------------MEDIA---------------------------
-------------------------------------------------------------- */
@media screen and (max-width: 768px) {
  pro {
    border: 1px solid #ddd;
    padding: 16px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pro-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  body {
    max-width: 768px;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
  }

  #header {
    min-height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto;
    z-index: 1;
  }

  h1 {
    font-size: 0.8rem;
    letter-spacing: 2px;
    text-align: center;
    background-color: rgb(217, 255, 0);
  }
  h2 {
    font-size: 0.7rem;
    letter-spacing: 1px;
  }
  h3 {
    letter-spacing: 1px;
    font-size: 0.6rem;
  }

  p {
    font-size: 0.6rem;
  }
  hr {
    height: 3px;
    width: 90%;
  }

  #hero {
    left: 0;
  }

  .button {
    display: inline-block;
    padding: 2px 10px;
    margin: 5px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    /* background-image: linear-gradient(to bottom right, #00c6ff, #0072ff); */
    border: none;
    border-radius: 20px;
    box-shadow: 0px 4px 0px #0072ff;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }

  #myInput {
    box-sizing: border-box;
    font-size: 16px;
    padding: 10px 10px 8px 10px;
    border: none;
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
  }

  #myInput:focus {
    outline: 3px solid #ddd;
  }
  .dropdown-btn {
    background-image: linear-gradient(to bottom right, #cce7d0, #00c6ff);
    color: rgb(42, 42, 163);
    font-weight: bold;
    letter-spacing: 1px;
    padding-left: 10px;
    font-size: 15px;
    border: none;
    border-radius: 3px;
  }
  .dropdown {
    position: fixed;
    top: 0px;
    display: inline-block;
    z-index: 2;
    width: 230px;
    height: 450px;
    overflow-y: auto;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: hsl(246, 25%, 92%);
    max-width: 220px;
    max-height: max-content;
    box-shadow: 0px 18px 16px 20px rgba(0, 0, 0, 0.3);
    z-index: 1;
    scroll-behavior: smooth;
  }
  /* todo */
  .dropdown-content #myInput {
    position: static;
  }
  .dropdown-content ul {
    margin-left: -25px;
    list-style-type: none;
  }

  .dropdown-content li {
    display: block;
  }
  .dropdown-content a {
    text-decoration: none;
    font-size: 0.6rem;
  }

  .dropdown-content li:hover {
    transform: translateY(-2px);
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.3);
    background: #dbe913;
    transition: 0.1s ease;
  }
  .dropdown-content:hover h2 {
    color: #088178;
  }
  .dropdown-content h2 {
    padding: -2px;
    font-size: 0.6rem;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    transition: 0.3s;
  }

  .dropdown .dropdown-btn:hover {
    background: #dbe913;
    color: #546d08;
    transition: 0.3s ease-in-out;
  }

  .pro img {
    height: 100px;
    width: 100px;
    padding-bottom: 0px;
  }

  #parent-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .section-p {
    width: 100%;
    text-align: center;
  }
  .section-p .pro-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: space-between;
    padding: 10px 0;
  }

  .section-p .pro {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #cce7d0;
    border-radius: 20px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 5px 0;
    transition: 0.2s ease;
    position: relative;
  }
  .section-p .pro:hover {
    box-shadow: 20px 20px 30px rgba(236, 77, 77, 0.06);
  }

  .section-p .pro img {
    max-width: 175px;
    max-height: 175px;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }

  .section-p .pro .des {
    text-align: start;
    padding: 5px 0;
  }

  .section-p .pro .des span {
    color: #088178;
    font-size: 12px;
  }

  .section-p .pro .des h5 {
    padding-top: 7px;
    color: #088178;
    font-size: 12px;
    margin: 0;
  }
  .section-p .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
  }

  .section-p .pro .des h4 {
    padding-top: 7px;
    font-size: 12px;
    font-weight: 700;
    color: #088178;
  }

  .section-p .pro .fa-cart-shopping {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    color: #088178;
    border: 1px solid #cced70;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  .wd-nav-img,
  .mega-menu-list img {
    max-height: 18px;
    width: auto !important;
  }
  a img {
    border: none;
  }
  img {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: middle;
  }
}
